$matrix: (
  theme-color-main: #41b883,
	font-color-main: #FFFFFF,
	bg-color-main: #141729,
	bg-color__left-part: #282B3D,
  bg-color__left-btn--hover: #32364a,
  bg-color__left-btn--selected: #32364a,
);
