$sunlight: (
	theme-color-main: #f46136,
	font-color-main: #1f1e30,
	bg-color-main: #FAFAFA,
	bg-color__left-part: #ffffff,
	bg-color__left-btn--hover: #ffb6a0,
	bg-color__left-btn--selected: #ff7d56,
);
